

main{
    background-color: #FFFAFA;
}
nav{
    margin-bottom: 2rem;
    background: transparent;
}

nav div ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}

nav ul li .btn svg{
    width: 24px;
    height: 24px;
    transition: 1.5s;
    animation: go-back-v 2s;
}

.img-foto{
    width: 70%;
    border-radius: 15%;
    background-image: linear-gradient(to bottom right, #0033CC, rgba(0, 179, 255, 0.61));
    animation: go-back-h 2s;
}

@media(max-width:768px){
    .img-foto{
        max-width: 60%;
        margin: 25px;
    }
}

.slid-v{
    animation: go-back-v 2s;
}

@keyframes go-back-h {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes go-back-v {
    from {
      transform: translateY(-40px);
    }
    to {
      transform: translateX(0);
    }
} 

.rc-ft-azul{
    color: #0033CC;
}

.title-section{
    margin: 35px;
    background: -webkit-linear-gradient(315deg, #0033CC 20%, #53ccf1 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rc-text-gradient{
    line-height: 1.0;
    font-size: 4em;
    font-weight: 600;
    background: -webkit-linear-gradient(315deg, #0033CC 0%, #53ccf1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rc-bg-azul{
    background-color: #0033CC;
    color: white;
}

.card-body svg{
    background-color: #FFFAFA;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    fill: #0033CC;
}

@media(max-width:768px){
    #projetos .row div{
        margin-bottom: 30px;
    }
}

@media(max-width:768px){
    .card{
        margin: 15px;
    }
}

#card-tecnologias{
    max-width: 48rem;
    height: 8rem;
}

@media(max-width:768px){
    #card-tecnologias{
        max-width: 18rem;
        height: 17rem;
    }
}

.social-media-top{
    list-style: none;
    padding: 0;
}
.social-media-top li{
    display: inline-flex;
    margin: 5px;
}

.social-media-top li svg {
    width: 38px;
    height: 38px;
    transition: 1.5s;
}

.social-media-top li#linkedin svg {
    width: 38px;
    height: 38px;
    fill: #0033CC;
    transition: 1.5s;
}

.social-media-top li#linkedin svg:hover {
    width: 58px;
    height: 58px;
    margin: 0;
    transition: 1.5s;
}

.social-media-top li#github svg {
    width: 38px;
    height: 38px;
    fill: black;
    transition: 1.5s;
}

.social-media-top li#github svg:hover {
    width: 58px;
    height: 58px;
    margin: 0;
    transition: 1.5s;
}

.social-media-top li#whatsapp svg {
    width: 38px;
    height: 38px;
    fill: green;
    transition: 1.5s;
}

.social-media-top li#whatsapp svg:hover {
    width: 58px;
    height: 58px;
    margin: 0;
    transition: 1.5s;
}

.social-media-top li svg:hover {
    transition: 1.5s;
}

.social-media-footer{
    list-style: none;
}
.rc-hr-azul{
    border-radius: 5px;  
    border: 3px solid #0033CC;
}

.rc-btn-azul-sm{
    background-color: #0033CC;
    color: white;
    transition: 1.5s;
}

.rc-btn-azul-sm:hover{
    background-color: transparent;
    color:  #0033CC;
    border: 1px solid  #0033CC;
    transition: 1.5s;
}

.rc-btn-azul-lg{
    background-color: #0033CC;
    color: white;
    font-weight: 400;
    padding: 15px 35px;
    margin: 10px;
    transition: 1.5s;
}

.rc-btn-azul-lg:hover{
    background-color: transparent;
    color: #0033CC;
    border: 1px solid #0033CC;
    transition: 1.5s;
}


.rc-btn-outline-azul-lg{
    background-color: transparent;
    color: #0033CC;
    font-weight: 400;
    padding: 15px 35px;
    margin: 10px;
    border: 1px solid #0033CC;
    transition: 1.5s;
}

.rc-btn-outline-azul-lg:hover{
    background-color: black;
    color: white;
    transition: 1.5s;
}

.rc-btn-preto{
    background-color: black;
    color: white;
    transition: 1.5s;
    margin: 5px;
}

.rc-btn-preto:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 1.5s;
}

.rc-ico-techs{
    max-width: 50px;
    max-height: 50px;
    margin: 12px;
}

footer{
    padding: 10px;
}

footer ul{
    padding: 0;
    margin: 15px;
}

footer ul li{
    display: inline-flex;
    margin-inline: 15px;
    vertical-align: middle;
}

footer ul li svg {
    width: 36px;
    height: 36px;
    transition: 1.5s;
}

footer ul li svg#linkedin {
    fill: #0033CC;
}

footer ul li svg#whatsapp {
    fill: green;
}
